.services__warraper { row-gap: 2.6rem;}
.service_webDesign { background-color: #8540ff; }
.service_interfaceDesign { background-color: #FFC50C; }
.service_webDevelopment { background-color: #EC407A; }
.service_uXDesign { background-color: #FF6331; }
.service_motionGraphic { background-color: #13B6FF; }
.service_sEOOptimize { background-color: #49AF46; }
.service { padding: 7rem 3.5rem; }
.service_title { font-size: 2.4rem; }
.service_caption { max-width: 30rem; }

@media screen and (max-width: 1200px) {
.service { padding: 5rem 2.5rem; }
}
@media screen and (max-width: 768px) {
.service { padding: 5rem 2rem; }
.service_title { font-size: 2rem; }
.service_caption { font-size: 1.5rem; }
}
@media screen and (max-width: 576px) {
  .service { padding: 5rem 3rem; }
.service_title { font-size: 2.6rem; }
.service_caption { font-size: 1.6rem; }
}