#services {}
.services__warraper { row-gap: 2.6rem;}
.service_webDesign {
  background-color: #8540ff;
}
.service_interfaceDesign { background-color: #FFC50C; }
.service_webDevelopment { background-color: #EC407A; }
.service_uXDesign { background-color: #FF6331; }
.service_motionGraphic { background-color: #13B6FF; }
.service_sEOOptimize { background-color: #49AF46; }
.service { padding: 7rem 3.5rem; }
.service_title { font-size: 2.4rem; }
.service_caption { max-width: 30rem; }
.service_icon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    z-index: -1;
  }
  
  .service_icon{
}