/**************************
---------------------------
======= Font Family =======
---------------------------
**************************/

@font-face {
  font-family: "poppins";
  src: url("../../public/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "poppins";
  src: url("../../public/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "poppins";
  src: url("../../public/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "poppins";
  src: url("../../public/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "poppins";
  src: url("../../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

/**************************
---------------------------
====== Root Varebale ======
---------------------------
**************************/

:root {
  --text: #333333; /* text-color */
  --body: #fff; /* app-bg-color */
  --section: #fff; /* section-bg-color */
  --main: #0abead; /* primary color */
  --mainOrange: #f57f17; /* secondary orange color */
  --fpoppins: "poppins";
}

.darkTheme {
  --body: #161d26; /* app-bg-color */
  --section: #1f2935; /* section-bg-color */
  --text: #95a5c6;
}

/**************************
---------------------------
======= Basic style =======
---------------------------
**************************/

html {
  font-size: 10px;
}

body {
  background-color: var(--body);
  color: var(--text);
  font-family: "poppins";
  font-size: 1.6rem;
  line-height: 1.5;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  outline: none;
}

a {
  color: var(--text);
}

.changeTheme_fix__btn {
  padding: 0.7rem;
  background-color: #fff;
  box-shadow: 0 0 4rem rgba(50, 228, 255, 0.27);
}

.darkTheme .changeTheme_fix__btn {
  background-color: var(--body);
}

.darkTheme .resume_detailItem__headTiTle{
  color: #f57f17;
}

.changeTheme_fix__btn svg {
  fill: var(--text);
}

/*****************************
------------------------------
======= Helper classes =======
------------------------------
*****************************/

.ctext {
  color: var(--text);
}
.cmain {
  color: var(--main);
}
.cmainOrange {
  color: var(--mainOrange);
}
.cbody {
  color: var(--body);
}
.csection {
  color: var(--section);
}
.bgtext {
  background-color: var(--text);
}
.bgbody {
  background-color: var(--body);
}
.bgmain {
  background-color: var(--main);
}
.bgmainOrange {
  background-color: var(--mainOrange);
}
.bgsection {
  background-color: var(--section);
}

.fw600 {
  font-weight: 600;
}

/* -------- font family ---------- */

.fp,
.fpop,
.fpopins,
.fpoppins,
.poppins {
  font-family: var(--fpoppins);
}

/* -------- Z index ---------- */

.z99 {
  z-index: 99;
}
.z101 {
  z-index: 101;
}

.rotatedSection {
  box-shadow: 0 0 6rem rgb(19 182 255 / 24%);
  margin-top: 12rem;
  margin-bottom: 8rem;
  padding: 3rem 0 12rem 0;
  transform: translateZ(0) skewY(-6deg);
  background-color: var(--section);
}
.unRotatedSection {
  transform: translateZ(0) skewY(6deg);
}

/* -------- padding ---------- */

.ptb7 {
  padding: 7rem 0;
}

/***************************
----------------------------
======== All in One ========
----------------------------
***************************/

.nav__toggle___line::before,
.nav__toggle___line::after,
.about_content__listItem::before,
.resume_list::before,
.resume_list__item::before,
.resume_detail::before,
.resume_detailItem__headTiTle::before {
  content: "";
  position: absolute;
}

.darkTheme header,
.darkTheme .home_photo,
.darkTheme .about_warraper,
.darkTheme .rotatedSection,
.darkTheme .plan_shadow__blue{
  box-shadow: none;
}

/**************************
---------------------------
======== bad codes ========
---------------------------
**************************/

#about-us { scroll-margin-top: 150px; }
#services { scroll-margin-top: 140px; }
#portfolio { scroll-margin-top: 150px; }
#resume { scroll-margin-top: 80px; }
#contact { scroll-margin-top: 130px; }

/***************************
----------------------------
======== Responsive ========
----------------------------
***************************/

@media screen and (min-width: 1400px) {
  .container {
    width: 1250px;
  }
}

@media screen and (max-width: 576px) {
  * {
    cursor: none !important;
  }
}